<%= image_tag @user.avatar.url(:medium) %>
<p>Name: <%= @user.name if @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>
<p>Biography: <%= @user.biography %></p>
<% if current_user.id == @user.id %>
  <%= button_to "Edit Profile", edit_user_path(id: current_user), :class => "button medium", method: "get" %>
<% end %>

<h3>My Posts</h3>

<div class="transitions-enabled" id="posts">
  <% Post.where(user_id: current_user).each do |post| %>
    <div class="box panel panel-default">
      <%= link_to (image_tag post.image.url), post %>
      <div class="panel-body">
        <h2>
          <%= link_to post.description, post %>
        </h2>
        <p class="user"></p>
        Submitted by
        <%= post.user.email %>
      </div>
    </div>
  <% end %>
</div>

<h3>Posts I Like</h3>
