#post_show.row
	.col-md-8.col-md-offset-2
		.panel.panel-default
			.panel-heading.post_image
				= image_tag @post.image.url
			.panel-body

				%h1= @post.title
				%p= @post.description

			.panel-footer
				.row
					.col-md-6
						%p.user
						Posted by
						=@post.user.name
						on
						=@post.created_at.strftime("%b %d, %Y")
					.col-md-6
						.btn-group.pull-right
							= link_to like_post_path(@post), method: :put, class: "btn btn-default" do
								%span.octicon.octicon-heart
									=@post.get_upvotes.size
							- if user_signed_in?
								= link_to "Edit", edit_post_path, class: "btn btn-default"
								= link_to "Delete", post_path, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default"
