- if user_signed_in?
    %li= link_to 'Featured', root_path
    %li= link_to 'Top stories', new_post_path
    %li= link_to 'New post', new_post_path
    %li= link_to 'My profile', users_path
    %li= link_to 'Edit account', edit_user_registration_path
    %li= link_to 'Sign out', destroy_user_session_path, :method=>'delete'									
- else
    %li= link_to 'Sign in', new_user_session_path
    %li= link_to 'Sign up', new_user_registration_path


