- if user_signed_in?

    %li= link_to 'Featured', root_path
    %li= link_to 'New post', new_post_path
    %li= link_to 'My profile', current_user
    %li= link_to 'Edit account', edit_user_registration_path
    %li= link_to 'Sign out', destroy_user_session_path, :method=>'delete'




    / = link_to root_path, class: "mega-octicon" do
    /     %span.mega-octicon.octicon-home
    / = link_to users_path, class: "mega-octicon" do
    /     %span.mega-octicon.octicon-flame
    / = link_to users_path, class: "mega-octicon" do
    /     %span.mega-octicon.octicon-search
    / = link_to users_path, class: "mega-octicon" do
    /     %span.mega-octicon.octicon-globe
    / = link_to users_path, class: "mega-octicon" do
    /     %span.mega-octicon.octicon-inbox
    / = link_to new_post_path, class: "mega-octicon" do
    /     %span.mega-octicon.octicon-pencil
    / = link_to edit_user_registration_path, class: "mega-octicon" do
    /     %span.mega-octicon.octicon-gear
    / = link_to destroy_user_session_path, :method=>'delete', class: "mega-octicon" do
    /     %span.mega-octicon.octicon-x

									
- else


    %li= link_to 'Sign in', new_user_session_path
    %li= link_to 'Sign up', new_user_registration_path


